.container {
    display: flex;
    width: 100vh;
    margin: auto;
    
}

.border {
    flex-direction: row;
    padding: 10% 10% 5% 10%;
    background-color: #433b50;
    
}

.company_name {
    color: grey;
    text-align: center;
    padding: 2px 0px 0px 2px;
    font-size: 50px;


}

.photo img {
 width: 100%;
 height: auto;
}



.date {
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#ffffff;
    padding: 20px;
    
}

.title {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    padding: 37px;
}

.middle {
    display: flex;
}

.readmore {
    font: 35px sans-serif;
    background-color: #ffffff;
    width: 170%; 
    color: black;
    border-top: thin dotted #b87dfd;
    padding-top: 37px;
    padding-left: 10px;
    
}

.spacer {
    width: 40%;
    background-color: #ffffff;
    border-top: thin dotted #b87dfd;
}

.plus {
    font-size: 114px;
    font-weight: 900;
    color: white;
    background-color: #b87dfd;
    width:36%;
    text-align: center;
}


.list-box {
    display: flex;
    background-color: #b87dfd;

}

.list-box_1 {
    display: flex;
    background-color: #c9a3f8;
}

.list-box_2 {
    background-color: #b87dfd;
    display: flex;
}


.date-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.list-box .desc {
    text-align: center;
    padding: 5%;
    width: 70%;
    font-size: 30px;
    color: white;
} 

.list-box_1 .desc {
    text-align: center;
    padding: 5%;
    width: 70%;
    font-size: 30px;
    color: white;
} 

.list-box_2 .desc {
    text-align: center;
    padding: 5%;
    width: 70%;
    font-size: 30px;
    color: white;
} 

.month{
    font-size: 36px;
    color: black
}

.day{   
    font-size: 74px;
    color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color:	#1d1723;
}

.info {
    padding: 2%;
}

.p1 {
    color: white;
    font-size: 18px;
    text-align: center;
}

.p2 {
    color: white;
    font-size: 15px;
    text-align: center;

}

.p3 {
    color: white;
    font-size: 15px;
    text-align: center;
}

.contact {
    text-align: center;
    padding: 2% 2% 4% 2%;
}

.contact a {
    text-decoration: none;
    color: white;
}

