* {
    box-sizing: border-box;
}
html, body {
    background-color: green;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 40px;
    width: 400px;
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.button {
    height: 70px;
    width: 100%;
    background-color: #E5E5E5;
    border: transparent 1px grey;
    margin-bottom: 20px;
}

.button p {
    color: grey;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
}


.login_button {
    height: 70px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #0CB00F;
    text-decoration-color: white;
    
}

.login_button p {
    text-align: center;
    color: white;
    display: contents;
}

.register {
    text-align: center;
}

.register a {
    color: green;
    text-decoration: none;
}