html, body {
    background-color: green;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box {
    width: 400px;
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.button1{
margin: 60px auto 30px;
 height: 70px;
 width: 260px;
 border: solid 1px black;
 background-color: #E5E5E5;
 text-decoration-color: grey;
}

.button2 {
margin: 20px auto 30px;
height: 70px;
width: 260px;
border: solid 1px black;
 background-color: #E5E5E5;
 text-decoration-color: grey;
}

.button3 {
  margin: auto;
  height: 70px;
  width: 260px;
  border: solid 1px black;
  background-color: #0CB00F;
  text-decoration-color: white;
}

